<div class="container">

  <h4>If you have an account, please enter your login info below</h4>

  <form action='/login' method="post">
    <label>Email</label>
    <input type="text" name="email"></input> <br />
    <label>Password</label>
    <input type="text" name="password"></input> <br />
    <input type="submit" value="Login"></input>
  </form>

  <h4>If you'd like to create an account, please enter your login info below</h4>
  <form action='/create' method="post">
    <label>Email</label> 
    <input type="text" name="email"></input> <br />
    <label>Password</label>
    <input type="text" name="password"></input> <br />
    <label>Password (again)</label>
    <input type="text" name="password_again"></input> <br />
    <input type="submit" value="Create"></input>
  </form>
</div>
