<% if @message %>
  <div class="container">
    <h4><%= @message %></h4>
  </div>
<% end %>

<p> Seth is great (but you already knew that probably). </p>

<a href="/logout"> Click here to log-out. </a>

